<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HUMAN</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>character_boy.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>character_cat_girl.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>character_horn_girl.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>character_pink_girl.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>character_princess.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
	</array>
	<key>GEM</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>gem_blue.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>gem_green.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>gem_orange.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>gem_black.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>gem_red.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<false/>
		</dict>
	</array>
	<key>ENEMY</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>bug.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
	</array>
	<key>BLOCK</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>tree_ugly.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>tree_short.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<false/>
		</dict>
		<dict>
			<key>imageFilename</key>
			<string>rock.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<false/>
		</dict>
	</array>
	<key>HEART</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>heart.png</string>
			<key>swappable</key>
			<false/>
			<key>moveable</key>
			<true/>
		</dict>
	</array>
	<key>STAR</key>
	<array>
		<dict>
			<key>imageFilename</key>
			<string>star.png</string>
			<key>swappable</key>
			<true/>
			<key>moveable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
