<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>duration_seconds</key>
		<integer>180</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>3</integer>
		<key>human_obj_chance</key>
		<integer>15</integer>
		<key>hurtful_obj_chance</key>
		<integer>5</integer>
		<key>star_obj_chance</key>
		<integer>5</integer>
		<key>max_number_star</key>
		<integer>2</integer>
		<key>block_obj_chance</key>
		<integer>2</integer>
		<key>gem_color_variations</key>
		<integer>2</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>duration_seconds</key>
		<integer>150</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>5</integer>
		<key>human_obj_chance</key>
		<integer>18</integer>
		<key>block_obj_chance</key>
		<integer>5</integer>
		<key>max_number_star</key>
		<integer>1</integer>
		<key>star_obj_chance</key>
		<integer>5</integer>
		<key>hurtful_obj_chance</key>
		<integer>3</integer>
		<key>gem_color_variations</key>
		<integer>3</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>duration_seconds</key>
		<integer>180</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>5</integer>
		<key>human_obj_chance</key>
		<integer>21</integer>
		<key>hurtful_obj_chance</key>
		<integer>5</integer>
		<key>block_obj_chance</key>
		<integer>5</integer>
		<key>star_obj_chance</key>
		<integer>5</integer>
		<key>max_number_star</key>
		<integer>1</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
		<key>gem_color_variations</key>
		<integer>3</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>duration_seconds</key>
		<integer>180</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>3</integer>
		<key>max_number_star</key>
		<integer>2</integer>
		<key>human_obj_chance</key>
		<integer>15</integer>
		<key>star_obj_chance</key>
		<integer>3</integer>
		<key>block_obj_chance</key>
		<integer>5</integer>
		<key>hurtful_obj_chance</key>
		<integer>3</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
		<key>gem_color_variations</key>
		<integer>4</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>duration_seconds</key>
		<integer>180</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>block_obj_chance</key>
		<integer>5</integer>
		<key>heart_bonus_chance</key>
		<integer>2</integer>
		<key>human_obj_chance</key>
		<integer>18</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
		<key>star_obj_chance</key>
		<integer>3</integer>
		<key>max_number_star</key>
		<integer>1</integer>
		<key>hurtful_obj_chance</key>
		<integer>5</integer>
		<key>gem_color_variations</key>
		<integer>4</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>duration_seconds</key>
		<integer>180</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>2</integer>
		<key>block_obj_chance</key>
		<integer>7</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
		<key>star_obj_chance</key>
		<integer>2</integer>
		<key>human_obj_chance</key>
		<integer>17</integer>
		<key>hurtful_obj_chance</key>
		<integer>10</integer>
		<key>gem_color_variations</key>
		<integer>4</integer>
		<key>max_number_star</key>
		<integer>1</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>duration_seconds</key>
		<integer>150</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>max_number_star</key>
		<integer>2</integer>
		<key>block_obj_chance</key>
		<integer>6</integer>
		<key>star_obj_chance</key>
		<integer>2</integer>
		<key>heart_bonus_chance</key>
		<integer>3</integer>
		<key>human_obj_chance</key>
		<integer>15</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
		<key>hurtful_obj_chance</key>
		<integer>8</integer>
		<key>gem_color_variations</key>
		<integer>5</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>duration_seconds</key>
		<integer>120</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>3</integer>
		<key>max_number_star</key>
		<integer>1</integer>
		<key>star_obj_chance</key>
		<integer>1</integer>
		<key>human_obj_chance</key>
		<integer>16</integer>
		<key>block_obj_chance</key>
		<integer>7</integer>
		<key>hurtful_obj_chance</key>
		<integer>10</integer>
		<key>gem_color_variations</key>
		<integer>5</integer>
		<key>num_starting_hearts</key>
		<integer>3</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>duration_seconds</key>
		<integer>90</integer>
		<key>background_map</key>
		<string>all_stone_tiles</string>
		<key>heart_bonus_chance</key>
		<integer>1</integer>
		<key>human_obj_chance</key>
		<integer>21</integer>
		<key>block_obj_chance</key>
		<integer>9</integer>
		<key>star_obj_chance</key>
		<integer>1</integer>
		<key>num_starting_hearts</key>
		<integer>1</integer>
		<key>max_number_star</key>
		<integer>1</integer>
		<key>hurtful_obj_chance</key>
		<integer>15</integer>
		<key>gem_color_variations</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
